


doctype 5
html(lang='fr')
    block var
    head
        title MATCHA
        //meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        link(rel="icon" type="image/png" href="")
        link(rel="stylesheet" href= "../css/app.css")
        link(rel="stylesheet" href="../js/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.css")
        block jsHeader
            script(src="http://localhost:35729/livereload.js?snipver=1")
            
    body(onload= (page == "account" || page == "browse" ? "initialize("+lat+","+lng+")" : ""))
        div(class="site-container")
            div(class="site-pusher")
                header(class="header")
                    a(href="#" class="header__icon" id="header__icon" onclick="showhide()")
                    a(class="header__logo" href="#") MATCHA
                    nav(class="menu")
                        if !noheader
                            a(href="../browse", "class"=(page == "browse" ? "is-active" : "")) Parcourir
                            a(href="../search", "class"=(page == "search" ? "is-active" : "")) Rechercher
                            a(href="../account", "class"=(page == "account" ? "is-active" : "")) Mon Compte
                                if (locals.photoFav)
                                    div(
                                        class="fav default-img-user" id="default-img-user"
                                        style='background-image: url("' + photoFav + '")'
                                        )
                                else
                                    div(
                                        class=("default-img-user") id="default-img-user"
                                        style='background-image: url("/images/upload/default-user.png")'
                                        )
                            a(href="../accueil", "class"=(page == "accueil" ? "is-active" : "")) Delog
                        else
                            a(href="../login", "class"=(page == "login" ? "is-active" : "")) se connecter
                            a(href="../logon", "class"=(page == "logon" ? "is-active" : "")) créer un compte
                div(class="post")
                    div(class="content" id="app")
                        block content
                        div(class="footer")
                            p(class="footer") &copy; 2017 - Made by Jmarsal
                div(class="site-cache" id="site-cache" onclick="showhide()")
        block jsFooter
            <script src="../js/jquery-3.2.1.min.js"></script>
            <script src="../js/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.js"></script>
            <script src="../js/jquery.form.min.js"></script>
            <script src="../js/socket.io.js"></script>
            <script src="../js/socket-client.js"></script>
