extends ../layout/layout

block js
    script(src="../js/ajaxBrowse.js")
    script(src="../js/ajaxAccount.js")
    script(src="http://maps.google.com/maps/api/js?key=AIzaSyC-QpPQdgESP_iKFtbuIchUgp-NjZBqCFA&libraries=places"
    async defer)

block var
    - page = "browse";
    - countPhotos = 0;

block content
    div(class="container-account-user")
        div(class="content-account-user" id="contentAccountUser")
            div(class="welcome-text-account" id="welcomeTextAccount")
                div(class="welcome-account" id="welcome-account")
                div(class=( locals.error ? "error red" : "error"), id="error") #{error}
                div(class="text1-account"): p #{title} 
                div(class="print-profil login") #{profil.login}                
                p Popularité : #{profil.popularity}%
                    br
            div(class="container-profils-browse" id="containerProfilsBrowse")
                div(class="all-img" id="allImg")
                if photos
                    for photo in photos
                        div(class="photo-profil-browse profil"
                            id='photo' + countPhotos
                            style='background-image: url("' + photo.src_photo + '")'
                            onclick="displayLarge('photo"+ countPhotos +"')"
                            onchange="displayNormalise('photo"+ countPhotos +"')"
                            )
                        - countPhotos++;    
                if profil
                    div(class="print-profil name") Nom : #{profil.nom}
                    div(class="print-profil firstname") Prénom : #{profil.prenom}
                    div(class="print-profil age") Age : #{profil.age} ans
                    div(class="print-profil sex") Sex : #{profil.sex == 1 ? "Masculin" : "Féminin"}
                    if (profil.orientation == 1)
                        div(class="print-profil orientation") Recherhe : Un homme
                    else if (profil.orientation == 2)
                        div(class="print-profil orientation") Recherhe : Une femme
                    else
                        div(class="print-profil orientation") Recherhe : Un homme ou une femme   
                    div(class="print-profil bio") A Propos : "#{profil.bio}"
                    div(class="print-profil adress") Adresse : #{profil.address}
                    div(id="map_canvas" class="map_canvas")

                div(class="container-tags" id="container-tags")
                    if tagsUser2
                        - countElems = 0;
                        for tag in tagsUser2
                            div(
                            class=(check[countElems].idTag == tag.id && check[countElems].check ? "tags button check" : "tags button")
                            id=tag.tag
                            onclick="modifyTagUser("+tag.tag+")"
                            ) ##{tag.tag}
                            - countElems++;        